.resaltado{
    background-color: yellow;
    font-weight: bold;
}
.oculto{
    display: none;
}

/* estilo para agregar background green y text color white cuando el estado es completado */

.completado{
    background-color: green;
    color: white;
}

